.center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 8px;
    padding: 8px;
}

li {
    color: black;
    opacity: .75;
    font-family: Arial, sans-serif;
    font-size: 13px;
    display: inline-block;
    margin: 8px;
}

input {
    height: 30px;
    width: 60%
}

.content {
    padding: 150px;
}

button {
    margin: 5px;
    color: gray;
    font-size: 13px;
    border: none;
    display: inline-block;
    width: 130px;
    height: 40px;
    background-color: rgb(231, 230, 230);
}

.foot {
    position: fixed;bottom:0;left:0;right:0;
    display: inline-block;
    background-color: rgb(241, 238, 238);
}